body{
  /* background-color: #8474A1;   */
  background-image: linear-gradient(to bottom right,#8474A1 , #CCABD8, #6EC6CA, #055B5C); 

}


.pixxelimg{
  width: 40%;
  margin: auto auto auto auto;
  position: absolute;
  padding: 5% 5% 5% 5%;
}

.titlePix{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 800%;
  text-align: center;
  margin: -25px 0 0 -25px; 
  color: White;
  float:right;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentPix{
  border-radius: 25px;
  background-color:red;
  background-image: linear-gradient(to bottom right,#8474A1 , #CCABD8, #6EC6CA, #055B5C);
  padding:3%;
  width: 40%;
  text-align: center;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
} 

body{
  height:100%;
  padding: 0;
  margin: 0;
}

.split {
  /* width: 50%;
  height: 50%; */
  position:absolute;
  /* z-index:-1; */
}
  
.top{
  top: 0;   
  left: 0;  
  right: 0; 
  bottom: 50% ;
  /* background-color: #055B5C; */
}


.leftbottom{
  top: 50%; 
  left: 0;   
  right: 60%; 
  bottom: 0;
  /* background-color:#CCABD8 */
}

.rightbottom {
  top: 50%; 
  left: 40%;
  right: 0;   
  bottom: 0;
  /* background-color:#615068 */
}

.usimg{
  width: 300px;
  height: 300px;
  padding:20px;
  border-radius: 50px;
/*   
  display: block; */
}

.usoverlay{
  position:absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  padding:20px;
  transition: .5s ease;
  background-color: #563a8b;
  border-radius: 50px;
}

.us:hover .usoverlay{
  opacity: 0.9;
}

.ustext{
  background-color: #563a8b;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  position: absolute;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
