body{
  /* background-color: #8474A1;   */
  background-image: linear-gradient(to bottom right,#8474A1 , #CCABD8, #6EC6CA, #055B5C); 

}

.container {
  position: relative;
  width: 50%;
}

img {
  height: 50%;
  border-radius: 10px;
}

.text{
  color: white;
  font-size: 20px;
}