.Rtitle {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1000%;
  margin-top: -25%;
  margin-left: 5%;
  color: rgb(72, 3, 93);
}

.RNav-button {
  padding: 0.5%;
  float: right;
  text-decoration: none;
  font-family: "Comforataa", cursive;
  color: rgb(72, 3, 93);
}

.RNav-button:hover {
  background-color: rgba(179, 0, 255, 0.637);
  border-radius: 10px;
}

.Rcontent {
  border-radius: 25px;
  position: relative;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  background-image: linear-gradient(rgb(13, 0, 70), rgb(61, 2, 29));
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  opacity: 0.9;
}

.Rfpage {
  width: 98%;
  border-radius: 10px;
  margin-top: -16%;
  margin-left: 1%;
}

#reviewbox {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  height: 100px;
  padding-top: -20px;
  padding-bottom: 20px;
  width: 500px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  font-size: 16px;
  font-family: cursive;
  transition: width 0.5s ease-in;
}

#reviewbox:focus {
  width: 100%;
  border: none;
}

#reviewSubject {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 8px;
  background-color: transparent;
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
}

.EditReviewButton {
  border: 4px solid white;

  border-radius: 10px;
  color: white;
  padding: 10px;
  box-shadow: 5px 6px white;
  background-color: rgba(49, 5, 68, 0.637);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 5%;
}

.Button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}

.OneLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Css for Stars */

.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}
/* hide the inputs */
.star-rating input {
  display: none;
}
/* set properties of all labels */
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: white;
}
/* give label a hover state */
.star-rating label:hover {
  color: rgba(99, 54, 119, 0.822);
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

.AddReviewButton {
  border: 4px solid white;

  border-radius: 10px;
  color: white;
  padding: 10px;
  box-shadow: 5px 6px white;
  background-color: rgba(49, 5, 68, 0.637);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 5%;
}
