body {
  margin: 0%;
}

.bgmvideo {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  object-fit: cover;
}

.Nav-bar {
  overflow: hidden;
  list-style: none;
  padding-right: 2%;
  position: fixed;
  width: 97%;
}

.Nav-bar-scroll {
  overflow: hidden;
  list-style: none;
  padding-right: 2%;
  position: fixed;
  background-image: linear-gradient(rgb(18, 18, 18), rgb(0, 0, 0));
  top: 0;
  margin-top: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  z-index: 1;
  width: 97%;
  animation-duration: 0.5s;
  animation-name: slidedown;
  opacity: 0.7;
}

@keyframes slidedown {
  from {
    top: -10%;
  }
}

@keyframes slideup {
  to {
    top: -10%;
  }
}

.fpage {
  width: 100%;
  border-radius: 10px;
}

.Nav-button {
  padding: 0.5%;
  float: right;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  color: rgb(255, 255, 255);
}

.Nav-button:hover {
  background-color: rgba(179, 0, 255, 0.637);
  border-radius: 10px;
}

#logo {
  width: 5%;
}

.content {
  width: 400px;
  height: 550px;
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  /* opacity: 0.95; */
  margin-top: 10%;
  margin-left: 40%;
}

.overley {
  width: 300px;
  margin: 40px auto;
  position: relative;
  box-shadow: 1px 5px 5px #a3e4f5;
  border-radius: 30px;
  z-index: 2;
}

.ForgetPassword {
  padding: 15px 0px;
  padding-left: 60px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
  width: 250px;
}

.Forget-Password-form {
  top: 150px;
  left: 12px;
  width: 280px;
  transition: 1s;
  position: absolute;
  /* z-index: 3; */
}

input {
  width: 128%;
  padding: 10px 10px;
  margin: 12px 10px;
  border-left: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}

#deleteLabel {
  margin-left: 5%;
}

.submit {
  width: 80%;
  padding: 15px 25px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-left: 31%;
  color: white;
  background: linear-gradient(45deg, #b621fe, #1fd1f9);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.submit:hover {
  box-shadow: 5px 5px 10px 2px black;
}

.flogo {
  width: 2%;
}

footer {
  border-radius: 10px;
  width: 98%;
  background-color: black;
  margin-top: 52%;
  margin-left: 0.5%;
  padding: 0.5%;
  position: absolute;
}
