body{
    margin:0%;

}

.charac{
    position: absolute;
    margin-left:63%;
    margin-top: 3%;
    width: 35%;
}

.circle{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(rgb(0, 13, 126), rgb(0, 47, 255));
    clip-path: circle(40% at 89% 85%);
}

.circle2{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(rgb(119, 0, 0), rgb(224, 3, 3));
    clip-path: circle(40% at 89% 85%);
}

.tg1{
    position: absolute;
    font-size:1000%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    margin-top:10%
}

.dg1{
    position: absolute;
}

.bgvideo{

    min-width: 100%; 
    min-height: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;

}

.logo1{
    width: 10%;
    position:absolute;
    margin-left:1%;
    margin-top:45%;
}
.logo2{
    width: 2%;
    position:absolute;
    margin-left:14.5%;
    margin-top:46%;
}
.logo3{
    width: 10%;
    position:absolute;
    margin-left:20%;
    margin-top:45%;
}

.logo4{
    width: 5%;
    position:absolute;
    margin-left:21%;
    margin-top:44%;
}

.backbtn{
    width: 4%;
    height:10%;
    background-image: linear-gradient(rgb(82, 100, 255), #ff4be1);
    color:white;
    box-shadow:  0 5px 10px rgba(255, 0, 119, 0.4);
    transition: 0.2s;
    border-radius: 100px;
    border:0px;
    padding:1%;
    margin:1%;
}

.backbtn:hover{
    background-color: rgb(73, 7, 255);
    color:white;
    box-shadow:  0 5px 10px rgba(0, 183, 255, 0.4);
    transition: 0.2s;
    border-radius: 20px;
}

.bbtn{
    width:100%;
}

.gamecontent{
    position: absolute;
    padding : 5%;
    color : white;
    size:10%;
}

.gamet{
    font-size:300%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.gamed{
    font-size:150%;
    padding-right: 40%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.pbutton{
    font-size:125%;
}
