.leaderboard{
    width: 50%;

}

td{
    text-align: center;
    border-bottom: 2px solid;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom:1%;
    padding-top:1%;
}

tr{
    text-align: center;
    border-bottom: 2px solid;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);

}

.content1{
    border-radius: 25px;
    position: relative;
    background-image: linear-gradient(rgb(213, 205, 247), rgb(136, 185, 250));
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    padding:3%;
}