


body{
    margin: 0%;
}

.VNav-bar{
    overflow: hidden;
    list-style: none;
    padding-right: 2%;
    position:fixed;
    width:97%;
}

.Nav-bar-scroll{
    overflow: hidden;
    list-style: none;
    padding-right: 2%;
    position:fixed;
    background-image: linear-gradient(rgb(18, 18, 18), rgb(0, 0, 0));
    top: 0;
    margin-top:0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    z-index: 1;
    width:97%;
    animation-duration:0.5s;
    animation-name:slidedown;
    opacity: 0.7;
}

@keyframes slidedown {
    from {
        top: -10%;
    }
}

@keyframes slideup {
    to {
        top: -10%;
    }
}



/* .Vfpage{
    width: 100%;
    border-radius: 10px;

} */

.VNav-button{
    padding: 0.5%;
    float: right;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
}



.VNav-button:hover{
    background-color:rgba(179, 0, 255, 0.637);
    border-radius: 10px;
}

#Vlogo{
    width: 5%;
}

.Vtitle{
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1000%;
    margin-top:-40%;
    margin-left:5%;
    color: white;
}

.Vcontent{
    border-radius: 25px;
    position: relative;
    background-image: linear-gradient(rgb(13, 0, 70), rgb(61, 2, 29));
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    padding:3%;
}

.Vflogo{
    width: 2%;
}

footer{
    border-radius: 10px;
    background-color:black;
    margin-top:1%;
    padding:0.5%;
    margin: 0.2%;
}

/* .bgvideo{

    min-width: 100%; 
    min-height: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;

} */

.ft{
    color: white;
    

}

.foot{

}

.frcontent{
    margin-top:5
    0%;


}
.FCvideo
{
    min-width: 100%; 
    min-height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;

} 
.Vcontent{
    border-radius: 25px;
    position: absolute;
    background-image: linear-gradient(rgb(13, 0, 70), rgb(61, 2, 29));
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 60%;
    height: 55%;
    opacity: 0.7;
    align-items: center;
}
.Vcont
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: -1;
    color: black;
    font-size: 12px;
} 
.btn2
{
    position :absolute;
    background-color: rgb(223, 213, 230);
    color: black;
    border: 2px solid #702794;
    margin-left: -10%;
    margin-right: 5%;
    margin-top: 13%;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 2%;
    border:shadow 3px;
    border-color: #331a8b;

}
.btn2:hover
{
    background-color: #62358a;
    color:rgb(184, 174, 174);
}
.Button
{
    background-color: rgb(223, 213, 230);
    border-radius: 10px;
    padding: 1.2%;
    width: 25%;
} 
.Vbtn
{
    background-color: rgb(223, 213, 230);
    color: black;
    border: 2px solid #702794;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 1.2%;
    border:shadow 3px;
    border-color: #331a8b;
}
.Vbtn:hover
{
    background-color: #62358a;
    color:rgb(184, 174, 174);
}
.Rbtn
{
    background-color: rgb(223, 213, 230);
    color: black;
    border: 2px solid #702794;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 1%;
    width: 10%;
    border:shadow 3px;
    border-color: #331a8b;
    float: right;
}
.Rbtn:hover
{
    background-color: #62358a;
    color:rgb(184, 174, 174);
}
.Ftopic
{
    position :absolute;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     /* font-size : 200%; 
    /* margin-top :-40%; */
       /* margin-left : 5%; 
       margin-bottom : 20%;
       margin-top: 6%; */
    color : rgb(223, 213, 230);
}