#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    color:white;
    font-size:20px;
  }
  
td{
    /* border: 1px solid #5bd4ddb0; */
    text-align: center;
    padding: 20px;
}

.line{
    text-align: center;
    border-bottom: 1px dashed white;
    font-size:25px;
}


.heading{
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1000%;
    margin-top:5%; 
    margin-left:5%;
    color: white;
    z-index: 1;
}

.phcontent{
    border-radius: 25px;
    position: relative;
    background-color: #0a384bbd;
    margin: 5% 10% 3% 10%; 
    padding:3%;
    box-shadow:0 0 10px 5px #2cd5db;
    width:80%;
}

.phgif{
    margin-top: 10%;
    margin-left: 60%;
} 

.btn{
    position :absolute;
    background-color: rgba(171, 74, 190, 0.452);
    color: white;
    border: 3px solid #0b4e49;
    border-radius:20px;
    transition-duration: 0.4s;
    box-shadow:0 0 3px 3px white;
    border-color: #0b4e49; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
    margin-top: -1%;

}

.btn:hover
{
    background-color:#67b6ff;
    color:black;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:20px; 
    text-align: left;
    right:20%;
}
