.Rtitle {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1000%;
  margin-top: -25%;
  margin-left: 5%;
  color: rgb(80, 0, 36);
}

.RNav-button {
  padding: 0.5%;
  float: right;
  text-decoration: none;
  font-family: "Comforataa", cursive;
  color: rgb(80, 0, 36);
}

.RNav-button:hover {
  background-color: rgba(134, 0, 60, 0.473);
  border-radius: 10px;
}

.Rcontent {
  border-radius: 25px;
  position: relative;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  background-image: linear-gradient(rgb(34, 4, 167), rgb(80, 0, 36), rgb(22, 6, 95));
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  opacity: 0.9;
}

.Rfpage {
  width: 100%;
  border-radius: 10px;
  margin-top: -16%;
  margin-left: 1%;
  margin-right: 1%;
}

#reviewbox {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  height: 100px;
  padding-top: -20px;
  padding-bottom: 20px;
  width: 500px;
  margin-top: 10%;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  font-size: 16px;
  font-family: cursive;
  transition: width 0.5s ease-in;
}

#reviewbox:focus {
  width: 100%;
  border: none;
}

#reviewSubject {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 500px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 8px;
  background-color: transparent;
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
  float: left;
}

/* Css for Stars */

.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 2%;
  /* margin: 20px auto; */
  position: relative;
  float: right;
}

/* hide the inputs */
.star-rating input {
  display: none;
}

/* set properties of all labels */
.star-rating>label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: darkorange;
}

give label a hover state .star-rating label:hover {
  color: rgba(99, 54, 119, 0.822);
  transition: 0.2s ease;
}

.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked~label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

.OneLine {
  display: flex;
  align-items: center;
  justify-content: space;
  float: left;
}

.AddReviewButton {
  border: 4px solid white;

  border-radius: 10px;
  color: white;
  padding: 10px;
  box-shadow: 5px 6px white;
  background-color: rgba(49, 5, 68, 0.637);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 5%;
}

.EditReviewButton {
  border: 2px solid black;

  border-radius: 30px;
  color: black;
  padding: 5px;
  /* box-shadow: 5px 6px white; */
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 5px;
  display: block;
  cursor: pointer;
  margin-bottom: 5%;
}

.DeleteReviewButton {
  border: 2px solid black;

  border-radius: 30px;
  color: black;
  padding: 5px;
  /* box-shadow: 5px 6px white; */
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 5%;
}

.EditReviewButton:hover {
  opacity: 0.8;
}


.DeleteReviewButton:hover {
  opacity: 0.8;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* background-color:white; */
  opacity: 100%;
}

.testimonial-box {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 8px;
  margin: 15px;
  cursor: pointer;
  color: black;
  opacity: 1;
  justify-content: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: right 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.name-user strong {
  color: brown;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.name-user span {
  color: blue;
  font-size: 18px;
}

.reviews {
  color: darkorange;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 16px;
  color: black;
}