body {
  background-image: linear-gradient(rgb(0, 13, 126), rgb(255, 0, 119));
  background-size: fixed;
}

#Nav-bar {
  overflow: hidden;
  list-style: none;
  padding-right: 2%;
}

.fpage {
  width: 100%;
  border-radius: 10px;
}

.Nav-button {
  padding: 0.5%;
  float: right;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  color: rgb(255, 255, 255);
}

.Nav-button:hover {
  background-color: rgba(179, 0, 255, 0.637);
  border-radius: 10px;
}

#logo {
  width: 5%;
}

.title {
  position: absolute;
  font-family: "Shadows Into Light", cursive;
  font-size: 1000%;
  margin-top: -40%;
  margin-left: 5%;
  color: white;
}

/* .content {
  border-radius: 25px;
  position: relative;
  background-image: linear-gradient(rgb(13, 0, 70), rgb(61, 2, 29));
  margin-top: 5%;
  margin-left: 5%;11
  margin-right: 5%;
  padding: 15%;
} */

.Sign-up-container {
  width: 400px;
  height: 500px;
  position: relative;
  margin: 5% auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.btn {
  width: 300px;
  margin: 40px auto;
  position: relative;
  box-shadow: 5px 5px 10px #a3e4f5;
  border-radius: 30px;
}

.toggle-btn {
  padding: 15px 50px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right, #009ffd, #2a2a72);
  border-radius: 30px;
  transition: 0.5s;
}

.Input-feild {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

input {
  width: 128%;
  padding: 10px 10px;
  margin: 15px 10px;
  border-left: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}

.submit {
  width: 80%;
  padding: 15px 25px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-left: 31%;
  color: white;
  background: linear-gradient(45deg, #0652c5, #d4418e);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.submit:hover {
  box-shadow: 5px 5px 10px 2px black;
}

.flogo {
  width: 2%;
}

footer {
  border-radius: 10px;
  background-color: black;
  margin-top: 1%;
  padding: 0.5%;
}
